@import 'src/assets/styles/variables.scss';

.HomeTemplate {
  .Content {
    width: 100%;
    .Container {
      max-width: $container-max-width;
      width: 100%;
      margin: auto;
      padding: 24px 8px;
      .Row {
        padding: 0 $container-padding;
      }
    }
  }
}